[submodule "libraries/device_base"]
	path = libraries/device_base
	url = git@github.com:davidgraeff/Android-NetPowerctrl-Shared.git

[submodule "libraries/SlidingMenu"]
        path = libraries/SlidingMenu
        url = https://github.com/Jaumo/SlidingMenu.git

