<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="oly.netpowerctrl">

    <!-- Api level 14: Android 4.0 15. Dezember 2011 -->
    <!-- Api level 16: Android 4.1 27. Juni 2012 -->
    <!--<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-sdk tools:node="replace" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@drawable/netpowerctrl"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--android:permission="android.permission.MANAGE_DOCUMENTS"-->
        <provider
            android:name=".utils.AssetDocumentProvider"
            android:authorities="@string/authority"
            android:enabled="@bool/atLeastKitKat"
            android:exported="true"
            android:grantUriPermissions="true"
            android:icon="@drawable/netpowerctrl"
            android:initOrder="1"
            android:label="@string/app_name"
            android:multiprocess="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:syncable="false">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/oly.netpowerctrl" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.ExecutionActivity"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.WidgetConfigActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:description="@string/app_name_widget"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".scenes.EditSceneActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:description="@string/app_name_shortcut_desc"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name_shortcut"
            android:noHistory="true"
            android:theme="@style/Theme.StartTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Widget -->
        <receiver
            android:name="oly.netpowerctrl.widget.DeviceWidgetProvider"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>

        <service
            android:name=".listen_service.ListenService"
            android:permission="android.permission.INTERNET" />

        <service android:name="oly.netpowerctrl.widget.WidgetUpdateService" />
    </application>


</manifest>