<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oly.netpowerctrl">

    <!-- Api level 14: Android 4.0 15. Dezember 2011 -->
    <!-- Api level 16: Android 4.1 27. Juni 2012 -->
    <!--<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />-->

    <permission
        android:name="oly.netpowerctrl.permission.PLUGINS"
        android:protectionLevel="signature" />

    <uses-permission android:name="oly.netpowerctrl.permission.PLUGINS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-sdk />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/netpowerctrl"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--android:permission="android.permission.MANAGE_DOCUMENTS"-->
        <provider
            android:name=".utils.AssetDocumentProvider"
            android:authorities="oly.netpowerctrl.utils.AssetDocumentProvider"
            android:enabled="@bool/atLeastKitKat"
            android:exported="true"
            android:grantUriPermissions="true"
            android:icon="@drawable/netpowerctrl"
            android:initOrder="1"
            android:label="@string/app_name"
            android:multiprocess="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:syncable="false">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:label="@string/app_name"
            android:theme="@style/Theme.StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.ExecutionActivity"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/oly.netpowerctrl" />
            </intent-filter>
        </activity>

        <activity
            android:name="oly.netpowerctrl.widget.ConfigExecutableActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.CustomLightThemeDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="oly.netpowerctrl.widget.ConfigGroupActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.CustomLightThemeDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.NfcTagWriterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name=".main.EditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:description="@string/shortcut_new_scene_desc"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/shortcut_new_scene"
            android:theme="@style/Theme.StartTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.SelectExistingExecutableActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:description="@string/shortcut_existing_executable_desc"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/shortcut_existing_executable"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.CustomLightThemeDialog"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Widget -->
        <receiver
            android:name=".widget.ProviderExecutable"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_executable_provider" />
        </receiver>
        <receiver
            android:name=".widget.ProviderGroup"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name_widget_group">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_group_provider" />
        </receiver>

        <service
            android:name=".data.DataService"
            android:exported="true"
            android:permission="oly.netpowerctrl.permission.PLUGINS" />

        <service
            android:name=".widget.WidgetUpdateService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".status_bar.AndroidStatusBarService"
            android:exported="false" />
    </application>
</manifest>