<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oly.netpowerctrl"
    android:versionCode="25"
    android:versionName="2.3b">

    <!-- Api level 14: Android 4.0 15. Dezember 2011 -->
    <!-- Api level 16: Android 4.1 27. Juni 2012 -->
    <!--<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <permission
        android:name="oly.netpowerctrl.plugins"
        android:label="@string/app_name"
        android:description="@string/app_name"
        android:protectionLevel="signature" />

    <application
        android:name="oly.netpowerctrl.main.NetpowerctrlApplication"
        android:icon="@drawable/netpowerctrl"
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity
            android:name="oly.netpowerctrl.main.NetpowerctrlActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.StartTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/oly.netpowerctrl" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcut.ShortcutExecutionActivity"
            android:label="@string/app_name"
            android:icon="@drawable/netpowerctrl"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="oly.netpowerctrl.widget.WidgetConfig"
            android:label="@string/app_name"
            android:description="@string/app_name_shortcut_desc"
            android:icon="@drawable/widget"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="oly.netpowerctrl.shortcut.ShortcutCreatorActivity"
            android:icon="@drawable/netpowerctrl"
            android:label="@string/app_name_shortcut"
            android:description="@string/app_name_shortcut_desc"
            android:theme="@style/Theme.StartTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:icon="@drawable/widget"
            android:label="@string/app_name_widget"
            android:name="oly.netpowerctrl.widget.DeviceWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>

        <service
            android:name="oly.netpowerctrl.anelservice.NetpowerctrlService"
            android:permission="android.permission.INTERNET" />

        <service android:name="oly.netpowerctrl.widget.WidgetUpdateService" />
    </application>


</manifest>